<h2><%= @poll.question %></h2>
<p>here are the results of <%= pluralize @poll.votes.count, 'vote' %> </p>
  <ul>
	<% @poll.answers.each do |answer| %>
	  <li><%= answer.name %>: <%= answer.votes.count %></li>
	<% end %>
  </ul> 

<% if @poll.creator == current_user  %>
<%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %> 
<%= link_to 'Back', polls_path %>
