
<h2><%= @poll.question %></h2>
<p>Cast your vote by clicking on the answer below:</p>
<ul>
<% @poll.answers.each do |answer| %>
  <li><%= link_to answer.name, vote_on_poll_path(answer.id) %></li>
<% end %>
<br>

<p>
<% if @poll.updatable_by?(current_user) %>
	<%= link_to 'Edit', edit_poll_path(@poll) %> |
	<%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>
<%= link_to 'Back', polls_path %>
</p>