<p id="notice"><%= notice %></p>

<h2><%= @poll.question %></h2>
<ul>
<% @poll.answers.each do |answer| %>
  <li><%= answer.name %></li>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) if @poll.updatable? %> |
<%= link_to 'Back', polls_path %>
